$blue: #0e6eb8;
$blue-hover: #2185d0;
$red: #b03060;
$orange: #fe9a76;
$yellow: #ffd700;
$olive: #32cd32;
$green: #016936;
$teal: #008080;
$blue: #0e6eb8;
$violet: #ee82ee;
$purple: #b413ec;
$pink: #ff1493;
$brown: #a52a2a;
$grey: #a0a0a0;
$black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}

.time {
  width: 10% !important;
  text-align: center !important;
}

.events {
  text-align: center !important;
}

.navigation {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > * {
    margin-left: 2rem !important;
  }

  h2 {
    margin: 0px !important;
    font-weight: 400 !important;
  }
}

.date-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem 1rem 2rem;

  & > * {
    margin-left: 2rem !important;
  }

  .ui.input {
    margin-left: 0 !important;
  }

  h2.ui.header {
    padding: 0 2rem !important;
  }

  h2 {
    margin: 0 !important;
  }

  .card .header {
    padding: 0 !important;
    border-bottom: 0px !important;
  }
}

.card .header {
  padding: 0 !important;
  border-bottom: 0px !important;
}

.ui.selection.dropdown {
  width: 150px !important;
}

main {
  padding: 0 2rem 2rem 2rem;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.month-of-year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #e2e2e2;
}

.month-list {
  min-height: 100px;
  font-size: 16px;
  background-color: #fff;
  color: var(--grey-800);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    cursor: pointer;
  }
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
}

.day-list {
  text-align: center;
}

.not-current {
  background-color: rgb(238, 238, 238) !important;
}

.not-current span {
  opacity: 0.5;
}

#calendar-days {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar-day {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  background-color: #fff;
  color: var(--grey-800);
  padding: 5px;
}

.dayNumber {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border-top: solid 1px black;
  background-color: #e2e2e2;
}

.ui.selection.dropdown {
  min-width: 5em;
}

.button-active {
  background-color: #babbbc !important;
}

.day,
.year {
  margin-top: 2rem;
}
